
<!-- Barra de navegación -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de mi página -->
<ion-content class="ion-padding">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam explicabo porro maxime, saepe quam minus natus magni laudantium fugiat, atque eos quae sed, ea rem eum deleniti repellat iste deserunt?</p>
</ion-content>
